# Docker ignore file
node_modules
vendor
.git
.env
.composer
storage/*.php
bootstrap/cache/*.php
public/hot
public/storage
storage/framework
storage/logs
tests
docker-compose.yml
docker-compose.prod.yml
Dockerfile
README.md
readme.pdf
refresh.sh
build.sh
test.php
test_bakong.php
.php_cs
.prettierrc
.shift
.gitignore
.gitattributes
.gitmodules
